
.hero-section{
     background-image:url(https://i.pinimg.com/1200x/48/02/92/48029284addf37c7c199c38f5f484d7a.jpg) ;

  height: 600px;
  width: 100%;
  background-size: cover;
  /* object-fit: cover; */
    /* background-size: contain; */
background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;



  margin-top: 10px;

  margin: 0px;
 padding-top: 50px; 
 
 
 border: solid black;
 
}

h1{
  margin-top: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
}
p{
   margin-top: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30; 
}
.hero-section button{
 margin-top: 40px;
 color: white;
 background-color: blueviolet;
 width: 100px;
 height: 30px;
}
.card-img{
  width: 500px;
  height: 500px;
}




/* .book-section{
    width: 100%;
  padding: 80px 0;
  background-color: white;
  text-align: center;
  
}
.book-grid{
    display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
  width: 85%;
  margin: 0 auto;


}
.books-info{
    text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;

}
.book-img{
    width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.4s ease;
  border-radius: 10px;

}
.books-info .book-img:hover{
   transform: scale(1.08);

}
.para{
  color: black;
}
 */


 .book-section {
  width: 100%;
  
  background: #ffffff;
}

/* Heading + View all button */
.book-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-bottom: 60px;
    margin-top: 50px;


}

.book-heading h3 {
  font-size: 28px;
  font-weight: 600;
}

.view-all {
  font-size: 18px;
  color: #7a2fff;
  text-decoration: none;
  font-weight: 500;
}
.view-all:hover { text-decoration: underline; }

/* Main Flex Container like the image */
.book-container {
  display: flex;
  gap: 28px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
 justify-content: space-evenly;
}

/* Book Card Style */
.book-card {
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Image style like sample UI */
.book-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.book-card img:hover {
 width: 100%;
 height: 370px;
}

/* Title under image */
.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
}
h2{
  text-align: center;
 margin: 0px;
}
.down-content{
   background-image:url(https://i.pinimg.com/736x/b1/c5/dc/b1c5dc35c82538baa1889e18b9342d2c.jpg) ;

  height: 400px;
  width: 100%;
  background-size: cover;
  /* object-fit: cover; */
    /* background-size: contain; */
background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  margin-top: 30px;

 padding-top: 50px; 

 border: solid black;
}

.down-content h1{
  margin: 0px;
}
.down-content p{
  font-size: 20px;
}