*{
  margin: 0px;
  padding: 0px;
}

.nav-section{
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 3px 1px 2px ;
  backdrop-filter: blur(78px);
background-color: white;
 width: 100%;
 position: fixed;
 
}
.logo{
  width: 150px;
  height: 60px;
}
.nav-item1{

 margin-top: 20px;
display: flex;
flex-direction: row;
gap: 30px;

}
nav .menu{
  text-decoration: none;
  color: black;
}
.nav-item2{
  
  margin-top: 20px;
gap: 30px;
}
input{
 width: 300px;
 margin-right: 10px;
}
